<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static page</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Learn, How to add css Js in thymeleaf</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In labore distinctio omnis, 
            rerum itaque quod, nesciunt similique ipsa ullam expedita aperiam ab numquam sequi 
            mollitia accusantium nulla cupiditate laboriosam quos!</p>
    </div>

    <script th:src="@{js/scripts.js}"></script>
</body>
</html>