<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <div class="closeHam">
            <i onclick="toggleButton()" class="fa-solid fa-bars close"></i>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="my-card mt-4" th:if="${contact}">
                        <h1 class="text-center mb-3">Edit contact details</h1>

                        <div class="contact-form-alert">
                            <div th:if="${message}" th:classappend="${message.type}"
                                class="alert d-flex justify-content-between" role="alert">
                                <span th:text="${message.content}"></span>
                                <span><i class="fa-solid fa-xmark close" onclick="closeAlert()"></i></span>
                            </div>
                        </div>

                        <form novalidate th:action="@{/user/addContact}" method="post" th:object="${contact}"
                            enctype="multipart/form-data">

                            <!-- contact id  --> <!-- Will only filld in case of edit -->
                            <div class="input-group mb-3 d-none">
                                <span class="input-group-text" id="cid_field"> <i class="fa-solid fa-user"></i> </span>
                                <input type="text" class="form-control" placeholder="Enter your name"
                                    aria-describedby="cid_field" th:value="${contact.cId}" name="cId">
                            </div>

                            <!-- name -->

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="name_field"> <i class="fa-solid fa-user"></i> </span>
                                <input type="text" class="form-control" placeholder="Enter your name"
                                    aria-describedby="name_field" th:value="${contact.name}" name="name"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">

                                <div id="validationServer03Feedback" class="invalid-feedback"
                                    th:each="e : ${#fields.errors('name')}" th:text="${e}">
                                </div>
                            </div>

                            <!-- second name -->

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="second_name_field"> <i
                                        class="fa-solid fa-user-shield"></i> </span>
                                <input type="text" class="form-control" placeholder="Enter nick name"
                                    aria-label="nick name" aria-describedby="second_name_field"
                                    th:value="${contact.secondName}" name="secondName">
                            </div>

                            <!-- Phone number -->

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="phone_num_field"> <i class="fa-solid fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter phone number"
                                    aria-label="phone number" aria-describedby="phone_num_field"
                                    th:value="${contact.phone}" name="phone"
                                    th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}">

                                <div id="validationServer03Feedback" class="invalid-feedback"
                                    th:each="e : ${#fields.errors('phone')}" th:text="${e}">
                                </div>
                            </div>


                            <!-- email -->

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="email_field"> <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                    aria-label="email" aria-describedby="email_field" th:value="${contact.email}">
                            </div>

                            <!-- Work details -->

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="work_field"> <i class="fa-solid fa-briefcase"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter work role"
                                    aria-label="work details" aria-describedby="work_field" th:value="${contact.work}"
                                    name="work">
                            </div>

                            <!-- upload image -->
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile" name="profileImage">
                            </div>

                            <!-- about -->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Enter work description" id="mytextarea"
                                    style="height: 100px" th:text="${contact.description}"
                                    name="description"></textarea>
                            </div>

                            <!-- Will only shown in case of edit -->

                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary text-light">Update</button>
                                <a th:href="@{'/user/delete/' + ${contact.cId}}"
                                    class="btn btn-outline-danger">Delete</a>
                            </div>
                        </form>

                    </div>

                    <div class="my-card mt-4 text-center" th:if="${isAuthorize == 'No'}">
                        <h3>You are not authorize to perform delete action</h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.tiny.cloud/1/p43jetttix5kbmowxgl220tarqr3t5huj5sad0az3iokigqx/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    </section>

</body>

</html>