<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <section>
        <div class="closeHam">
            <i onclick="toggleButton()" class="fa-solid fa-bars close"></i>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="my-card mt-4">

                        <div>
                            <h1 class="text-center mb-4">Your profile</h1>

                            <form th:action="@{'/user/edit/' + ${user.id}}" method="post" class="text-end">
                                <button type="submit" class="btn"> <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </form>
                        </div>


                        <div class="text-center">

                            <img th:src="@{'/img/' + ${user.imageUrl}}" alt="profile-picture"
                                class="img-fluid profile-picture-details">

                            <h4 th:text="${user.name}" class="mt-4"></h4>

                            <div class="px-5 pt-4 pb-3">
                                <table class="table px-5">

                                    <tbody>

                                        <tr>
                                            <th scope="row" class="align-middle col-md-6">Id</th>
                                            <td class="align-middle col-md-6">
                                                <span th:text=" 'SCM' + ${user.id}"></span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row" class="align-middle col-md-6">Email</th>
                                            <td class="align-middle col-md-6">
                                                <span th:text="${user.email}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="align-middle col-md-6">Status</th>
                                            <td class="align-middle col-md-6">
                                                <span th:if="${user.isActive == true}"
                                                    class="text-success">Active</span>
                                                <span th:if="${user.isActive == false}"
                                                    class="test-warning">Inactive</span>
                                            </td>
                                        </tr>
                                        <!-- 
                                        <tr>
                                            <th scope="row" class="align-middle col-md-6">Work</th>
                                            <td class="align-middle col-md-6">
                                                <span th:text="${contact.work}"></span>
                                            </td>
                                        </tr> -->

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="description mx-5">
                            <h2 class="mb-3">About</h2>
                            <div class="bg-light p-3" th:utext="${user.about}"></div>

                        </div>

                    </div>

                    <div class="my-card mt-4 text-center" th:if="${isAuthorize == 'No'}">
                        <h3>You are not authorize to perform delete action</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>