<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <div class="closeHam">
            <i onclick="toggleButton()" class="fa-solid fa-bars close"></i>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="my-card mt-4">
                        <h1 class="text-center mb-4">Your contacts</h1>

                        <div class="search-container">

                            <input onkeyup="search()" type="text" id="search-input" class="form-control"
                                placeholder="Search here">

                            <div class="search-result">

                            </div>

                        </div>

                        <table class="table" th:if="${isContactAvailable == 'Yes'}">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr th:each="c : ${contacts}">
                                    <th scope="row" class="align-middle" th:text=" 'SCM' + ${c.cId}"></th>
                                    <td class="align-middle">
                                        <img class="img-fluid me-2 profile-picture" th:src="@{'/img/' + ${c.imageUrl}}"
                                            alt="profileImage">
                                        <span th:text="${c.name} + ' (' + ${c.secondName} + ')'"></span>
                                    </td>
                                    <td class="align-middle">
                                        <a th:href="@{'/user/'+${c.cId}+'/contact'}"> <span th:text="${c.email}"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle" th:text="${c.phone}"></td>
                                    <td class="align-middle text-center">
                                        <form th:action="@{'/user/contact/edit/' + ${c.cId}}" method="post">
                                            <button type="submit" class="btn"> <i
                                                    class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <nav class="pagination-tabbs" aria-label="Page navigation"
                            th:if="${isContactAvailable == 'Yes'}">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${page <= 0 ? 'disabled' : ''}">
                                    <a class="page-link text-color"
                                        th:href="@{/user/showContacts/}+${currentPage - 1}">Previous</a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item text-color"
                                    th:classappend="${page == i-1 ? 'active' : ''}">
                                    <a class="page-link" th:href="@{/user/showContacts/}+${i-1}" th:text="${i}"></a>
                                </li>
                                <li class="page-item" th:classappend="${page >= totalPages-1 ? 'disabled' : ''}">
                                    <a class="page-link text-color"
                                        th:href="@{/user/showContacts/}+${currentPage + 1}">Next</a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>