<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseTemplate::layout(~{::section}, ${title})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Assumenda doloremque qui modi eaque magni omnis, accusantium aliquam
        ad dicta quibusdam provident voluptate aspernatur. Impedit minus, 
        sint amet voluptatum aliquam obcaecati!
    </section>
    
</body>
</html>