<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseTemplate::layout(~{::section}, ${title})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    
    <section>
        <h1>Contact me</h1>
        
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. D
        eserunt cum veritatis dolorem corrupti similique eos sed dolore m
        inus modi. Fuga magnam quibusdam facere repudiandae voluptatum harum 
        reiciendis amet architecto tempora.
    </section>

</body>
</html>