body {
  background-color: #e2e2e2;
}

.bg-primary {
  background-color: #009688 !important;
}

.text-color {
  color: #009688;
}

.banner {
  width: 100%;
  height: 93vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/home-page-banner-person.jpeg);
  color: #fff;
  background-size: cover;
}

.my-card {
  background-color: #fff;
  padding: 20px;
}

.close-btn {
  padding: 10px 15px 0;
  text-align: end;
  font-size: 20px;
  color: gray;
}

.close-btn .close {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.closeHam {
  visibility: hidden;
  position: fixed;
}

.side-bar {
  width: 18%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  margin-top: -1em;
}

.side-bar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: gray;
}

.side-bar a:hover {
  background-color: #e2e2e2;
}

.content {
  margin-left: 20%;
  margin-top: 4em;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .side-bar {
    display: none;
    width: 60%;
  }

  .content {
    margin-left: 0;
  }
}
